<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Menu</title>
    <link rel="stylesheet" th:href="@{/static.css/style.css}">
</head>
<body>
<h2>Add Menu</h2>
Hello
<form action="#" th:action="@{/menu/add}" th:object="${menus}" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number" id="price" th:field="*{price}" />
    </div>
    <div>
        <label for="weight">Weight</label>
        <input type="number" id="weight" th:field="*{weight}" />
    </div>
    <div>
        <label for="discount">Discount</label>
        <input type="checkbox" id="discount" th:field="*{discount}" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>